<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
    <title> Contact</title>
        <link rel="stylesheet" href="{% static 'My_Contact.css' %} ">
        <link rel="shortcut icon" href="https://www.seekpng.com/png/full/135-1350884_call-phone-ring-telephone-contact-conversation-handset-logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Gulchohra Umarli, gulchohra.umarli.sh@gmail.com">
</head>
 
<body>

    <header>
        <div id="CommonHeaderDiv">
       <div id="MyPortfolio">
         <i class="fa fa-briefcase"></i>  MyPortfolio
       </div>
   
       <div style="float: left; margin: 15px 25px 0 0">
         <a href="{% url 'index' %}" class="HomeSkillsWorks_Links" >   <i class="fa fa-home"></i> <b> Home </b>    </a>
         
       </div>
        
       <div id="Home_Skills_Works_">
        <a href="{% url 'skills' %}" class="HomeSkillsWorks_Links" > <i class="fa fa-fire"></i> <b> My Skills </b>    </a>
       </div>
   
       <div id="Home_Skills_Works_" >
        <a href="{% url 'works' %}" class="HomeSkillsWorks_Links" >  <i class="fa fa-lightbulb-o"></i> <b> My Works </b>   </a>
       </div>
   
       <div  id="Home_Skills_Works_">
        <a href="{% url 'about' %}" class="HomeSkillsWorks_Links" > <i class="fa fa-id-card-o"></i> <b> About me </b>   </a>
       </div>
     </div> 
    
   </header>
 
<main>
    <div id="CommonDiv">
        
        <div id="Border"> 
            
            <div id="ContactIcon"> <i class="fa fa-book" ></i> <b> Contact: </b> </div>
             
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}

                <div class="contact">
                    {{form.name}} <br><br>
                    {{form.lastname}} <br><br>
                    {{form.email}} <br><br>
                    {{form.message}} <br>
                    <input type="submit" name="submitbutton" value="SEND"> 
                    
                </div>
            </form>

            <!-- Start my personal information-->
        
            <div class="info">
            
            <i class="fa fa-user" id="sonradankilar"> </i> Gulchohra Umarli
            <br><br><br>
            <i class="fa fa-map-marker" id="sonradankilar"> </i> Bayan,Oghuz
            <br><br><br>
            <i class="fa fa-envelope" id="sonradankilar"> </i> <a href="mailto:gulchohra.umarli.sh@gmail.com" class="email__">gulchohra.umarli.sh@gmail.com</a>
            <br><br> <br>
            <i class="fa fa-instagram" id="sonradankilar"> </i> <a href="https://www.instagram.com/umarllee/" class="email__">umarllee</a>
            <br><br><br>
            <i class="fa fa-telegram" id="sonradankilar"> </i> <a href="https://web.telegram.org/#/im" class="email__">gulchohra_umarli</a>
            <br><br><br>
            <i class="fa fa-whatsapp" id="sonradankilar"> </i> (+994) 70 258 44 74
            
            </div>
       </div>  <!--Border div end-->
    </div> <!--Commondiv end(white area)-->

</main>


<footer>
    <div id="CreatedBy">
        Created by Umarli | <i class="fa fa-copyright"></i>  All rights reserved
    </div>
</footer>  
    

</body>
</html>